body {
    margin: 80px 0 0 0;
    font-family: "Poppins", sans-serif;
    display:flex;
    justify-content: center;
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 1300px;
    box-shadow: transparent 0 0 0 6px,rgba(18, 18, 18, .1) 0 12px 30px;
    border-radius: 30px;
    padding-top: 20px;
    margin-bottom: 80px;
    gap: 5px;
}
textarea {
	resize: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.nome-sobrenome, .contato{
    display: grid;
    gap: 5px;
}
#nome, #sobrenome, #telefone, #email {
    border: 1px solid black;
    width: 320px;
    height: 20px;
    border-radius: 6px;
}
legend {
    font-weight: bold;
}
.sexo {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 6px;
    width: 330px;
    font-size: 17px;
}
input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
    accent-color: black;
}
.interesses {
    margin: 20px 0px 20px 0px;
    width: 330px;
    font-size: 17px;
}
input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    margin: 0.5rem 0.5rem 0 0 ;
    accent-color: #ffafcc;
}
#cargo, #empresa, #graduacao, #instituicao {
    border: 1px solid black;
    width: 320px;
    height: 20px;
    border-radius: 6px;
    margin: 4px 0px 10px 0px;
}
#competencias, #atribuicoes {
    border: 1px solid black;
    width: 320px;
    height: 50px;
    border-radius: 6px;
    margin-top: 4px;
}
#telefone {
    padding: 2px;
}
.botoes {
    display: flex;
    gap: 20px;
}
button {
    width: 150px;
    height: 3rem;
    margin-top: 40px;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    border: 1px solid black;
    user-select: none;
    -webkit-user-select: none;
    font-size: 100%;
}
button:hover{
    box-shadow: #f1f1f1 0 0 0 2px, transparent 0 0 0 0;
    background-color: #ffafcc;
    color: #fff;
    border: 0;
}